# Werkcollege-opdrachten Week 1.1

## Maak een virtual environment

Zorg dat je met behulp van de handleiding *Bouw en gebruik van virtual environments - Handleiding* een virtual environment hebt gemaakt, dat jou en je duopartner garandeert altijd dezelfde versie van geïmporteerde dependencies te gebruiken.<br>
Voeg hier vervolgens de pandas- en de sqlite3-dependency aan toe.<br>
Als je dit allemaal goed hebt gedaan moet de onderstaande code bij jullie allebei succesvol runnen:

In [ ]:
import pandas as pd
import sqlite3
import warnings
warnings.simplefilter('ignore')

N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

Zorg er daarnaast voor dat je...
- Het bestand Waarheidstabel.png in dezelfde map als dit notebook hebt staan.
- Het bestand Prinstabel.png in dezelfde map als dit notebook hebt staan.
- Alle informatie onder het kopje *Basisoperaties* van de cheatsheet *Van Java naar Python - Cheatsheet* bij de hand hebt.

## Output, variabelen en input

Geef code waarmee het volgende op het scherm komt te staan:<br>
geef me je geld <br>
of ik gebruik geweld, <br>
toen kwam de controle aangesneld

In [ ]:
print("geef me je geld\nof ik gebruik geweld,\ntoen kwam de controle aangesneld!");

Declareer 2 variabelen zodat de volgende tekst geprint wordt:<br>
Apenhoofd<br>
Paardenstaart

In [ ]:

woord1 = "Apenhoofd"
woord2 = "Paardenstaart"
print(woord1)
print(woord2)

Voeg code toe zodat het programma het volgende doet:<br>
1): Op het scherm komt A, B, C, D, ..., F, G te staan<br>
2): De gebruiker voert een letter in<br>
3): Op het scherm komt te staan:<br>
Het is inderdaad:<br>
*ingevoerde letter*

In [ ]:
print("A, B, C, D, ..., F, G");
input1 = input();
print("Het is inderdaad:\n" + input1);

## Stringconcatenatie en Rekenen

Schrijf code dat een inkomen inleest en het volgende uitprint:<br>
Uw inkomen (*ingelezen inkomen*) is zeer acceptabel.

In [ ]:
input2 = input();

print(t"Uw inkomen {input2} is zeer acceptabel")

De oppervlakte van een driehoek is 1/2 * hoogte * basis<br>
Schrijf code zodat het programma het volgende doet:<br>
1): Op het scherm komt Wat is de basis? te staan<br>
2): De gebruiker voert een basis in<br>
3): Op het scherm komt Wat is de hoogte? te staan<br>
4): De gebruiker voert een hoogte in<br>
5): Op het scherm komt: De oppervlakte van de driehoek is *berekende oppervlakte* te staan

In [ ]:
print("Wat is de basis?");
basis = float(input());
print("Wat is de hoogte?");
hoogte = float(input());
print("De oppervlakte van de driehoek is:");
print(1/2 * hoogte * basis);

## if() en booleans

Schrijf code dat het volgende doet:<br>
1): De gebruiker voert in hoe oud iemand is<br>
2): De gebruiker voert in of de ouders meegekomen zijn (input is J of N)<br><br>

Als...
- Jonger dan 6, wel ouders: op het scherm staat Je mag het zwembad in
- Jonger dan 6, geen ouders: op het scherm staat Je mag het niet zwembad in
- Leeftijd vanaf 6, geen ouders: op het scherm staat Je mag het zwembad in als je een diploma hebt
- Leeftijd vanaf 6, wel ouders: op het scherm staat Waarom neem je nog je ouders mee?

In [ ]:
opdracht6age = float(input("Hoe oud ben je?"))
opdracht6ouders = input("Zijn je ouders megekomen? (J of N)")

if opdracht6age < 6 and opdracht6ouders == "J":
    print("Je mag het zwembad in")
elif opdracht6age < 6 and opdracht6ouders == "N":
    print("Je mag het zwembad niet in")
elif opdracht6age >= 6 and opdracht6ouders == "J":
    print("Waarom neem je nog je ouders mee?")
elif opdracht6age >= 6 and opdracht6ouders == "N":
    print("Je mag het zwembad in als je een diploma hebt")

Schrijf code zodat de boolean-variabelen een en twee aangemaakt worden en waarmee de juiste waarde in de boolean-variabele uitkomst komt te staan. In de waarheidstabel hieronder staat wat de waarde van uitkomst is bij de verschillende mogelijke combinaties van een en twee.<br><br>
<img src="Waarheidstabel.png">

In [ ]:
een = input();
twee = input();
if een == "waar" and twee == "waar":
    print("waar")
if een == "waar" and twee == "onwaar":
    print("onwaar")
if een == "onwaar" and twee == "waar":
    print("waar")
if een == "onwaar" and twee == "onwaar":
    print("waar")

## Functies

Schrijf een methode wachtwoord die als parameters twee woorden meekrijgt en het volgende controleert:
- Als de woorden gelijk zijn, print het programma gelijk.
- Als de woorden ongelijk zijn print het programma ongelijk.

Vergeet niet dat je de methode niet alleen aan moet maken, maar ook aan moet roepen om output te krijgen.

In [ ]:
V8WW1 = input()
V8WW2 = input()
if V8WW1 == V8WW2:
    print("gelijk")
else:
    print("ongelijk")

Schrijf de methode zoekPrins die als parameter een prinses meekrijgt en vervolgens de bijbehorende prins oplevert, volgens de volgende tabel:<br><br>
<img src="Prinstabel.png"><br>
Als de naam van de prinses niet in de tabel staat wordt het volgende door de methode teruggegeven: naamloos.<br>
Roep ten slotte de gemaakte methode ook daadwerkelijk aan met een zelfgekozen prinsessennaam.

In [11]:
prinsesPrince = {
    "Aurora": "Philip",
    "Ariel": "Eric",
    "Jasmine": "Aladdin",
    "Pocahontas": "John",
    "Belle": "Beast",
    "Tiana": "Naveen",
    "Mulan": "Shang",
}
def zoekPrins(prinses: str):
    try:
        return prinsesPrince[prinses];
    except:
        return "naamloos"
print(zoekPrins("Aurora"));
print(zoekPrins("Onbekend"));

Philip
naamloos

## While-loop

Schrijf de inhoud van de methode wachtwoord. Deze heeft geen parameters en laat de gebruiker twee wachtwoorden invoeren, waarna hij bekijkt of deze gelijk zijn. Zolang dat niet het geval is wordt er eerst Fout, probeer het opnieuw! uitgeprint en moet de gebruiker het opnieuw proberen.<br>Als de gebruiker het goed doet, komt er Succes! op het scherm te staan.

In [1]:
while True:
    V10WW1 = input()
    V10WW2 = input()
    if V10WW1 == V10WW2:
        print("gelijk")
        break
    else:
        print("ongelijk")

ongelijk
gelijk

Schrijf de inhoud van de methode tafels. De methode print alle tafels vanaf 1 (dus inclusief de tafel van 1) tot en met de tafel van het meegekregen getal (dus inclusief de tafel van getal).  Zet een witregel tussen alle tafels in. <br>
Let op:
- Gebruik een while-loop
- Gebruik de reeds geschreven methode tafel om een tafel uit te printen

In [15]:
def tafels(getal: int):
    for i in range(getal):
        tafel(i+1);

def tafel(getal: int):
    teller: int = 1

    while(teller <= 10):
        print(f'{teller} x {getal} = {teller * getal}')
        teller += 1

x: int = int(input())
tafels(x)

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10
1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

## For-loop

Vervang de while-loop door een werkende for-loop. De uitkomst van het programma mag daarbij niet veranderen.

In [19]:
def loopje():

    # aantal = 0
    for i in range(11):
        print(f"huidige getal: {i}")

    # while(aantal <= 10):
    #     print(f"huidige getal: {aantal}")
    #     aantal += 1

loopje()

huidige getal: 0
huidige getal: 1
huidige getal: 2
huidige getal: 3
huidige getal: 4
huidige getal: 5
huidige getal: 6
huidige getal: 7
huidige getal: 8
huidige getal: 9
huidige getal: 10

Schrijf de methode checkEven die achtereenvolgens 12 getallen inleest en afdrukt hoe vaak het ingevoerde getal even was.

In [26]:
from typing import List
alleGetalen: List[int] = list();

def checkEven():
    for i in range(12):
        alleGetalen.append(int(input()));
    evenCount = 0;
    for item in alleGetalen:
        if item % 2 == 0:
            evenCount += 1;
    print(evenCount);

checkEven();

8

## Objectoriëntatie

Maak een minisysteem voor een kledingwinkel. Maak verschillende klassen voor verschillende soorten kledingstukken, waarbij sommige klassen geërfd worden van andere klassen.
- Maak een klasse Kledingstuk aan, waarin door de constructor een merk, een maat en een prijs geïnitialiseerd worden.
- Maak een klasse Broek en een klasse Shirt, beide erven van de klasse Kledingstuk. Voeg aan Broek een broek_type, en aan Shirt een shirt_type toe (d.m.v. constructorgebruik).
- Maak een klasse Spijkerbroek die erft van broek en een klasse Poloshirt die erft van shirt. Voeg aan Spijkerbroek een blauwtint toe, en aan Poloshirt een kraagsoort (d.m.v. constructorgebruik).
- Implementeer in elke klasse een beschrijvingmethode, waarmee alle informatie over het betreffende kledingstuk wordt afgedrukt.
- Maak van elke klasse een object aan en roep de beschrijvingmethode aan. Controleer nauwkeurig of alles naar behoren werkt.

In [4]:
class Kledingstuk():
    def __init__(self, merk, maat, kleur):
        self.merk = merk
        self.maat = maat
        self.kleur = kleur

    beschrijving = "Dit is een kledingstuk"

class Broek(Kledingstuk):
    def __init__(self, merk, maat, kleur, broek_type):
        super().__init__(merk, maat, kleur)
        self.broek_type = broek_type

    beschrijving = "Dit is een broek"

class Shirt(Kledingstuk):
    def __init__(self, merk, maat, kleur, shirt_type):
        super().__init__(merk, maat, kleur)
        self.shirt_type = shirt_type

    beschrijving = "Dit is een shirt"

class Spijkerbroek(Broek):
    def __init__(self, merk, maat, kleur, broek_type, blauwtint):
        super().__init__(merk, maat, kleur, broek_type)
        self.blauwtint = blauwtint

    beschrijving = "Dit is een spijkerbroek"

class Poloshirt(Shirt):
    def __init__(self, merk, maat, kleur, shirt_type, kraagsoort):
        super().__init__(merk, maat, kleur, shirt_type)
        self.kraagsoort = kraagsoort

    beschrijving = "Dit is een poloshirt"

Kledingstuk1 = Kledingstuk("Nike", "M", "Zwart")
Broek1 = Broek("Levi's", "32", "Blauw", "Jeans")
Shirt1 = Shirt("Adidas", "L", "Wit", "T-shirt")
Spijkerbroek1 = Spijkerbroek("G-Star", "30", "Donkerblauw", "Jeans", "Indigo")
Poloshirt1 = Poloshirt("Polo Ralph Lauren", "S", "Rood", "Polo", "Klassiek")

Kledingstuk1.beschrijving
Broek1.beschrijving
Shirt1.beschrijving
Spijkerbroek1.beschrijving
Poloshirt1.beschrijving

'Dit is een poloshirt'

## Verzamelingen

Kijk nu naar alle info onder het kopje *Verzamelingen* van de cheatsheet *Van Java naar Python - Cheatsheet*.

Initialiseer een lijst met de naam mijn_lijst met de volgende waarden:<br>
Jelle, Marleen, Henk, Fatima, Jelle, Henk

In [27]:
from typing import List

mijn_list: List[str] = ["Jelle", " Marleen", " Henk", " Fatima", " Jelle", " Henk"];

Probeer nu de eerste waarde uit te lijst te veranderen in een naam naar keuze. Lukt dat?

In [30]:
mijn_list[0] = "Naam naar keuze";
print(mijn_list[1]);

Naam naar keuze

Maak van bovengenoemde lijst nu een tupel, genaamd: mijn_tupel.

In [31]:
mijn_tupel = tuple(mijn_list);

Probeer nu de laatste waarde uit te tupel te veranderen in een naam naar keuze. Lukt dat?

In [ ]:
mijn_tupel[len(mijn_tupel)] = "Naam naar keuze";

TypeError: 'tuple' object does not support item assignment

Initialiseer een dictionary met de volgende key-value-combinaties:
- naam: "Jelle"
- leeftijd: 30
- beroep: "Docent"
- hobby: "Volleybal"

In [33]:
mijn_dict: dict[str, str|int] = {"naam": "Jelle","leeftijd": 30,"beroep": "Docent","hobby": "Volleybal"};

Probeer nu de naam te veranderen naar een naam naar keuze. Lukt dat?

In [35]:
mijn_dict["naam"] = "Naam naar keuze";
print(mijn_dict["naam"]);

Naam naar keuze

## Data klaarzetten

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales.sqlite
- go_crm.sqlite
- go_staff.sqlite

Bestudeer de bovenste 3 bestanden met DB Browser (SQLite) dat <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden is. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales.sqlite. Let op: deze staat in de map "data", die op zijn beurt in de hoofdmap staat. Tip: met `"../"` in `connect()` kun je naar de bovenliggende map gaan.

In [40]:
import sqlite3
connection = sqlite3.connect("go_sales.sqlite");

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales zitten.

In [45]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';";

#Vul dit codeblok verder in
cur = connection.cursor();
cur.execute(sql_query).fetchall()

[('country',),
 ('order_details',),
 ('order_header',),
 ('order_method',),
 ('product',),
 ('product_line',),
 ('product_type',),
 ('retailer_site',),
 ('return_reason',),
 ('returned_item',),
 ('sales_branch',),
 ('sales_staff',)]

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <b>Let goed op:</b> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [11]:
import pandas as pd
sql_query = "SELECT * FROM sales_staff;";

data = pd.read_sql_query(sql_query, connection) # type: ignore
sales_staff = pd.DataFrame(data)

## Datumkolommen afhandelen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [12]:
sales_staff['DATE_HIRED'] = pd.to_datetime(sales_staff['DATE_HIRED'])
sales_staff.dtypes

SALES_STAFF_CODE              int64
FIRST_NAME                      str
LAST_NAME                       str
POSITION_EN                     str
WORK_PHONE                      str
EXTENSION                   float64
FAX                             str
EMAIL                           str
DATE_HIRED           datetime64[us]
SALES_BRANCH_CODE             int64
dtype: object

Als we hier het jaar uit willen halen, schrijven we:

In [13]:
pd.DatetimeIndex(sales_staff['DATE_HIRED']).year

Index([1996, 1995, 1998, 1997, 1997, 1999, 1997, 1998, 1996, 1996,
       ...
       1998, 2000, 1999, 2000, 1999, 1999, 1999, 1999, 1998, 1998],
      dtype='int32', name='DATE_HIRED', length=102)

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [54]:
SALES_STAFF_CODE = pd.Series(sales_staff['SALES_STAFF_CODE'])
WORK_PHONE = pd.Series(sales_staff['WORK_PHONE'])
EXTENSION = pd.Series(sales_staff['EXTENSION'])
FAX = pd.Series(sales_staff['FAX'])
EMAIL = pd.Series(sales_staff['EMAIL'])

print(SALES_STAFF_CODE)
print(WORK_PHONE)
print(EXTENSION)
print(FAX)
print(EMAIL)

0        4
1        5
2        6
3        7
4       12
      ...
97     120
98     121
99     122
100    123
101    124
Name: SALES_STAFF_CODE, Length: 102, dtype: int64
0      +33 1 68 94 52 20
1      +33 1 68 94 52 20
2      +33 1 68 94 52 20
3      +33 1 68 94 52 20
4      +(49) 40 663 1990
             ...
97       +32 16 20.73.21
98       +32 16 20.73.21
99       +32 16 20.73.21
100    +(43) 13 79 56 32
101    +(43) 13 79 56 32
Name: WORK_PHONE, Length: 102, dtype: str
0       325.0
1       336.0
2       378.0
3       398.0
4      1818.0
        ...
97     1340.0
98     1642.0
99     1633.0
100     325.0
101     348.0
Name: EXTENSION, Length: 102, dtype: float64
0      +33 1 68 94 56 60
1      +33 1 68 94 56 60
2      +33 1 68 94 56 60
3      +33 1 68 94 56 60
4      +(49) 40 663 4571
             ...
97       +32 16 20.73.32
98       +32 16 20.73.32
99       +32 16 20.73.32
100    +(43) 13 79 56 33
101    +(43) 13 79 56 33
Name: FAX, Length: 102, dtype: str
0           DPage@grtd123.com
1         EMichel@grtd123.com
2       EClermont@grtd123.com
3         EJauvin@grtd123.com
4      EWiesinger@grtd123.com
                ...
97      GLaermans@grtd123.com
98        FDecree@grtd123.com
99       YLattrez@grtd123.com
100    WSeefelder@grtd123.com
101       SGruner@grtd123.com
Name: EMAIL, Length: 102, dtype: str

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [55]:
staff_dataframe = pd.concat([SALES_STAFF_CODE, WORK_PHONE, EXTENSION, FAX, EMAIL], axis=1)

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [56]:
staff_dataframe.head(5)

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [74]:
contact_details = staff_dataframe.head(5)
first_language_list = ['EN'] * 5
first_language_series = pd.Series(first_language_list, name='FIRST_LANGUAGE')
contact_details = pd.concat([contact_details, first_language_series], axis=1)
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,EN
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,EN
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,EN
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,EN
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [75]:
second_language_list = ['FR'] * 3 + ['DE'] * 2
second_language_series = pd.Series(second_language_list, name='SECOND_LANGUAGE')
contact_details = pd.concat([contact_details, second_language_series], axis=1)
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,EN,FR
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,EN,FR
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,EN,FR
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,EN,DE
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,EN,DE

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [76]:
third_language_list = ['NL', 'NL', 'JPN', 'JPN', 'KOR']
third_language_series = pd.Series(
    third_language_list, name='THIRD_LANGUAGE')
contact_details = pd.concat([contact_details, third_language_series], axis=1)
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE,THIRD_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,EN,FR,NL
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,EN,FR,NL
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,EN,FR,JPN
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,EN,DE,JPN
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,EN,DE,KOR

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [77]:
nieuwe_rij = pd.DataFrame({"SALES_STAFF_CODE": 5, "WORK_PHONE": "+31 06 12345678", "EXTENSION": 483.0,
                           "FAX": "+(49) 40 663 4571", "EMAIL": "DWiesinger@grtd123.com", "FIRST_LANGUAGE": "EN", "SECOND_LANGUAGE": "DE", "THIRD_LANGUAGE": "KOR"}, index=[0])
df = pd.concat([contact_details, nieuwe_rij], ignore_index=True)
df

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE,SECOND_LANGUAGE,THIRD_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,EN,FR,NL
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,EN,FR,NL
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,EN,FR,JPN
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,EN,DE,JPN
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,EN,DE,KOR
5,5,+31 06 12345678,483.0,+(49) 40 663 4571,DWiesinger@grtd123.com,EN,DE,KOR

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [79]:
sales_staff['FULL_NAME'] = sales_staff['FIRST_NAME'].str.cat(
    sales_staff['LAST_NAME'], sep=' ')
sales_staff

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE,FULL_NAME
0,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6,Denis Pagé
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6,Élizabeth Michel
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6,Émile Clermont
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6,Étienne Jauvin
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13,Elsbeth Wiesinger
...,...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38,Giele Laermans
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38,François De Crée
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38,Yvette Lattrez
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39,Willi Seefelder
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39,Sabine Grüner

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

## Data verwijderen

### Rijen

De medewerkers op indexen 98, 99 en 100 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.